= form_for @holding, url: region_holdings_path(@region.id), remote: true, html: { role: 'form' } do |f|
  .form-group
    .col-sm-2.control-label
      = f.label :name, 'Имя:'
    .col-sm-6
      = f.text_field :name, class: 'form-control'
    .col-sm-2.control-label
      = f.label :name, 'Контакт:'
    .col-sm-6
      = f.text_field :contacts, class: 'form-control'
  .form-group
    .col-sm-12
      = f.submit 'Создать'
      = link_to 'Назад', :back, class: 'btn btn-default'
