= form_for @company, url: company_path(@company.id), method: :put do |f|
  .form-group
    .col-sm-2.control-label
      = f.label :name, 'Имя:'
    .col-sm-6
      = f.text_field :name, class: 'form-control'

    .col-sm-2.control-label
      = f.label :color, 'Цвет:'
    .col-sm-6
      = f.text_field :color, class: 'form-control'

    .col-sm-2.control-label
      = f.label :address, 'Адрес:'
    .col-sm-6
      = f.text_field :address, class: 'form-control'

    .col-sm-2.control-label
      = f.label :description, 'Описание:'
    .col-sm-6
      = f.text_field :description, class: 'form-control'

  .form-group
    .col-sm-12
      = f.submit 'Изменить'
      = link_to 'Назад', :back, class: 'btn btn-default'